@* newMovie Template File *@
@(commentForm: Form[CommentVO])(implicit messages: Messages)

@main("New movie") {
 @helper.form(action = routes.CommentController.newCommentSubmission()) {
  <div class="form-actions">
	 <div class="login-page-movie ">
	  <div class="form-movie ">
	  <a href=><img src="../assets/images/error.png" class="img-responsive error-message"/></a>
	  <h4 class="message">New Comment</h4><br/>

	    <form class="register-form">
			  @helper.inputText(commentForm("Message"))
	      <button>Send</button>
	    </form>
	  </div>
	</div>
  </div>
 }
}
