@* listagem Template File *@
@(movies: List[Movie])

@main("IMDB") {
   <ul>
     @for(movie <- movies) {
       <li>@movie.title - @movie.director - @movie.productionYear</li> 
     }
   </ul>





<!-- general -->
	<div class="general">
		
		<div class="container">
		<h4 class="latest-text w3_latest_text">Featured Movies</h4>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">

				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						
							@for(movie <- movies){
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href= "/movie/@movie.id" class="hvr-shutter-out-horizontal"><img src="assets/images/imgf/m15.jpg" title="album-name" class="img-responsive" alt=" " />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h7><a>Movie:</a></h7>
										<h6><a href="/movie/@movie.id">@movie.title</a></h6>
										<h7><a>Director:</a></h7>
										<h6><a>@movie.director</a></h6>							
									</div>
									<div class="mid-2 agile_mid_2_home"> 	
										<p>Year:@movie.productionYear</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
					</div>
							}
							
				</div>
			</div>
		</div>
	</div>
<!-- //general -->







}
