@* newMovie Template File *@
@(movieForm: Form[MovieVO])(implicit messages: Messages)

@main("New movie") {
 @helper.form(action = routes.MovieController.newMovieSubmission()) {
  <div class="form-actions">
	 <div class="login-page-movie">
	  <div class="form-movie">
	  <h4 class="message">New Movie</h4><br/>
	    <form class="register-form">
			  @helper.inputText(movieForm("Title"))
			  @helper.inputText(movieForm("Director"))
			  @helper.inputText(movieForm("Year"))
			  <input type="file" name="Picture">
	      <button>Send</button>
	    </form>
	  </div>
	</div>
  </div>
 }
}
