@* listagem Template File *@
@(movie: Option[Movie])

@main("IMDB") {




<div class="container">

						<div class= "col-sm-4 w3l-movie-gride-agile">
								<h1><a>@movie.get.title<a>(@movie.get.productionYear)</a></a></h1>
								<h5><a>@movie.get.director</a></h5>	
								<a href= "/movie/@movie.get.id" class="hvr-shutter-out-horizontal"><img src="../assets/images/imgf/m15.jpg" title="album-name" class="img-responsive" alt=" " />
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">						
									</div>
									<div class="mid1-2 agile_mid_2_home"> 	
										<div class="clearfix"></div>
									</div>
								</div>
						</div>



					<div class="col-sm-6 w3l-movie-gride-agile">
						<div class="all-comments-info">
							<h1><a  href="#">Comments</a></h1>
							<div class="agile-info-wthree-box">



								<form>
									<textarea placeholder="Message" required=""></textarea>
									<input type="submit" value="SEND">

										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									<div class="clearfix"> </div>
								</form>




							</div>
						</div>
						<div class="media-grids">
							<div class="media">
								<h5>TOM BROWN</h5>
								<div class="media-body">
									<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
									<span>View all posts by :<a href="#"> Admin </a></span>
								</div>
							</div>
							<div class="media">
								<h5>MARK JOHNSON</h5>
								<div class="media-body">
									<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
									<span>View all posts by :<a href="#"> Admin </a></span>
								</div>
							</div>
						</div>
					</div>
</div>





}
