@* listagem Template File *@
@(movie: Option[Movie])

@main("IMDB") {




<div class="container">
				<div class="intro2 col-sm-12">
					<div class="w3l-movie-gride-agile1">


						<p> </p>
						<h1><a>@movie.get.title<a>(@movie.get.productionYear)</a></a></h1>
						<h5><a>@movie.get.director</a></h5>	



							<div>	
								<div class=" img-pad col-sm-4">
									<a href= "/movie/@movie.get.id" class="hvr-shutter-out-horizontal"><img src="../assets/images/imgf/m15.jpg" title="album-name" class="img-responsive" alt=" " />
									</a>
								</div>

								<div class="col-sm-8 media-grids">
									<h3>Comments</h3>
									<div class="media all-comments">
										<h5>TOM BROWN</h5>
										<div class="media-body">
											<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
											<span>View all posts by :<a href="#"> Admin </a></span>
										</div>
									</div>
								</div>

							</div>




								<div class="all-comments-info">
										
									<div class="agile-info-wthree-box">

										<form class="form-movie-comment">
											<textarea placeholder="Comment" required=""></textarea>
											<input type="submit" value="SEND">
											<div class="clearfix"> </div>
										</form>
									</div>
								</div>



					</div>

				</div>
</div>





}
