@* listagem Template File *@
@(users: List[User])

@main("User") {




<div id="main" class="container">
	<div class="intro2">
		<div class= "form-movie-comment1 movie-gride-agile2">
			     <div id="top" class="row">
				    <div class="col-md-3">
				    	<h2>User List</h2>
				    </div>
				    <div class="col-md-5">
				        <a href="/user/new" class="btn btn-primary pull-right h2">Novo Item</a>
				    </div>
			     </div> <!-- /#top -->
     
    <div id="list" class="row">


	      <div class="table-responsive col-md-12">

	     	<table class="table table-striped" cellspacing="0" cellpadding="0">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>Usuario</th>
	                    <th>Senha</th>
	                    <th class="actions">Ações</th>
	                 </tr>
	            </thead>

	            <tbody>
	            @for(user <- users) {	
	                <tr>
	                    <td>@user.id</td>
	                    <td>@user.email</td>
	                    <td>@user.password</td>
	                    <td class="actions">
	                        <a class="btn btn-success btn-xs" href="/user/@user.id">Visualizar</a>
	                        <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
	                    </td>
	                </tr>
	                }
	 
	            </tbody>
	         </table>
	     </div>

     </div> <!-- /#list -->
     	</div>
    </div>
 </div>  <!-- /#main -->
 }