@* newMovie Template File *@
@(ratingForm: Form[RatingVO])(implicit messages: Messages)

@main("New movie") {
 @helper.form(action = routes.RatingController.newRatingSubmission()) {
  <div class="form-actions">
	 <div class="login-page-movie ">
	  <div class="form-movie ">
	  <a href=><img src="../assets/images/error.png" class="img-responsive error-message"/></a>
	    <form class="register-form">
	  <h4 class="message">New Rating</h4><br/>
			  @helper.inputText(ratingForm("Stars"))
	      <button>Send</button>
	    </form>
	  </div>
	</div>
  </div>
 }
}