@(user: String)

@main("IMDB rocks on Play :)") {


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Header -->
    <header class= intro1>
        <div class="intro-body">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">IMDb</h1>
                        <p class="intro-text">The Internet Movie Database.
                            <br>2017 Project</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


</body>

}
